.form-group
  .col-sm-offset-2.col-sm-10
    .checkbox
      = f.label :mirror_trigger_builds do
        = f.check_box :mirror_trigger_builds
        %strong
          Trigger builds for mirror updates
      .help-block
        Trigger builds when branches or tags are updated from the upstream repository.
        Depending on the activity of the upstream repository, this may greatly increase the load on your CI runners.
        Only enable this if you know they can handle the load.
