- if can?(current_user, :remove_pages, @project) && @project.pages_url
  .panel.panel-default.panel.panel-danger
    .panel-heading Remove pages
    .errors-holder
    .panel-body
      %p
        Removing the pages will prevent from exposing them to outside world.
      .form-actions
        = link_to 'Remove pages', namespace_project_pages_path(@project.namespace, @project), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove"
